In [6]:
#nota de prueba 4

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('2021_Accidentalidad.csv',sep=";")
test = pd.read_csv('2022_Accidentalidad.csv',sep=";")
df.shape

(41783, 19)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41783 entries, 0 to 41782
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   num_expediente        41783 non-null  object
 1   fecha                 41783 non-null  object
 2   hora                  41783 non-null  object
 3   localizacion          41783 non-null  object
 4   numero                41780 non-null  object
 5   cod_distrito          41780 non-null  float64
 6   distrito              41780 non-null  object
 7   tipo_accidente        41779 non-null  object
 8   estado_meteorológico  37355 non-null  object
 9   tipo_vehiculo         41729 non-null  object
 10  tipo_persona          41780 non-null  object
 11  rango_edad            41783 non-null  object
 12  sexo                  41783 non-null  object
 13  cod_lesividad         22819 non-null  float64
 14  lesividad             22819 non-null  object
 15  coordenada_x_utm      41783 non-null  object
 16  coordenada_y_utm      41783 non-null  object
 17  positiva_alcohol      41616 non-null  object
 18  positiva_droga        89 non-null     float64
dtypes: float64(3), object(16)
memory usage: 6.1+ MB

In [4]:
df.head()

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,tipo_persona,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga
0,2020S019534,01/01/2021,4:30:00,AVDA. PABLO NERUDA / CALL. LEONESES,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Conductor,De 30 a 34 años,Mujer,14.0,Sin asistencia sanitaria,"444976,463","4470508,259",N,NaN
1,2020S019534,01/01/2021,4:30:00,AVDA. PABLO NERUDA / CALL. LEONESES,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Conductor,De 35 a 39 años,Hombre,7.0,Asistencia sanitaria sólo en el lugar del acci...,"444976,463","4470508,259",N,NaN
2,2020S019534,01/01/2021,4:30:00,AVDA. PABLO NERUDA / CALL. LEONESES,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Conductor,Desconocido,Desconocido,NaN,NaN,"444976,463","4470508,259",N,NaN
3,2020S019534,01/01/2021,4:30:00,AVDA. PABLO NERUDA / CALL. LEONESES,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Pasajero,De 10 a 14 años,Hombre,14.0,Sin asistencia sanitaria,"444976,463","4470508,259",N,NaN
4,2020S019534,01/01/2021,4:30:00,AVDA. PABLO NERUDA / CALL. LEONESES,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Pasajero,De 35 a 39 años,Mujer,14.0,Sin asistencia sanitaria,"444976,463","4470508,259",N,NaN

In [5]:
df=df.drop(['num_expediente'], axis=1)
test=test.drop(['num_expediente'], axis=1)

In [6]:
df.isnull().sum()

fecha                       0
hora                        0
localizacion                0
numero                      3
cod_distrito                3
distrito                    3
tipo_accidente              4
estado_meteorológico     4428
tipo_vehiculo              54
tipo_persona                3
rango_edad                  0
sexo                        0
cod_lesividad           18964
lesividad               18964
coordenada_x_utm            0
coordenada_y_utm            0
positiva_alcohol          167
positiva_droga          41694
dtype: int64

## Lets work the date and hour columns

In [7]:
#let's clasify the hour column into 3 groups 
# 1. high: from 7:30 to 9:30 and from 18:00 to 20:00 monday to friday
# 2. night: from 0:00 to 7:30
# 3. low: the rest

#for this, we need to know de day of the week (from the date) 
# and we need to convert the "fecha" and "hora" columns to date_time

df['fecha']= pd.to_datetime(df['fecha'])
df['hora']= pd.to_datetime(df['hora'])
test['fecha']= pd.to_datetime(test['fecha'])
test['hora']= pd.to_datetime(test['hora'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41783 entries, 0 to 41782
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fecha                 41783 non-null  datetime64[ns]
 1   hora                  41783 non-null  datetime64[ns]
 2   localizacion          41783 non-null  object
 3   numero                41780 non-null  object
 4   cod_distrito          41780 non-null  float64
 5   distrito              41780 non-null  object
 6   tipo_accidente        41779 non-null  object
 7   estado_meteorológico  37355 non-null  object
 8   tipo_vehiculo         41729 non-null  object
 9   tipo_persona          41780 non-null  object
 10  rango_edad            41783 non-null  object
 11  sexo                  41783 non-null  object
 12  cod_lesividad         22819 non-null  float64
 13  lesividad             22819 non-null  object
 14  coordenada_x_utm      41783 non-null  object
 15  coordenada_y_utm      41783 non-null  object
 16  positiva_alcohol      41616 non-null  object
 17  positiva_droga        89 non-null     float64
dtypes: datetime64[ns](2), float64(3), object(13)
memory usage: 5.7+ MB

In [8]:
# we will extract the day of the week (dow) from the date
df_dow=df["fecha"].apply(lambda fila: fila.weekday())
df.insert(2, "dow", df_dow)
test_dow=test["fecha"].apply(lambda fila: fila.weekday())
test.insert(2, "dow", test_dow)

In [9]:
#let's clasify the hour column into 3 groups 
# 1. high: from 7:30 to 9:30 and from 18:00 to 20:00 monday to friday
# 2. night: from 0:00 to 7:30
# 3. low: the rest
time_interval_df=df.apply(lambda dfr: 'high' if (dfr['dow']>=0) & (dfr['dow']<5) & ((pd.Timestamp('7:30') <= dfr['hora']) & (pd.Timestamp('9:30') > dfr['hora']) | (pd.Timestamp('18:00') <= dfr['hora'])  & (pd.Timestamp('20:00') > dfr['hora'])) else "night" if (pd.Timestamp('00:00') <= dfr['hora'])  & (pd.Timestamp('7:30') > dfr['hora']) else "low", axis=1)
df.insert(3, "time_int", time_interval_df)
time_interval_test=test.apply(lambda dfr: 'high' if (dfr['dow']>=0) & (dfr['dow']<5) & ((pd.Timestamp('7:30') <= dfr['hora']) & (pd.Timestamp('9:30') > dfr['hora']) | (pd.Timestamp('18:00') <= dfr['hora'])  & (pd.Timestamp('20:00') > dfr['hora'])) else "night" if (pd.Timestamp('00:00') <= dfr['hora'])  & (pd.Timestamp('7:30') > dfr['hora']) else "low", axis=1)
test.insert(3, "time_int", time_interval_test)

In [10]:
time_interval_df.reset_index().groupby([0]).count()

       index
0
high    6861
low    30700
night   4222

In [11]:
df

,fecha,hora,dow,time_int,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,tipo_persona,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga
0,2021-01-01,2022-07-28 04:30:00,4,night,AVDA. PABLO NERUDA / CALL. LEONESES,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Conductor,De 30 a 34 años,Mujer,14.0,Sin asistencia sanitaria,"444976,463","4470508,259",N,NaN
1,2021-01-01,2022-07-28 04:30:00,4,night,AVDA. PABLO NERUDA / CALL. LEONESES,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Conductor,De 35 a 39 años,Hombre,7.0,Asistencia sanitaria sólo en el lugar del acci...,"444976,463","4470508,259",N,NaN
2,2021-01-01,2022-07-28 04:30:00,4,night,AVDA. PABLO NERUDA / CALL. LEONESES,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Conductor,Desconocido,Desconocido,NaN,NaN,"444976,463","4470508,259",N,NaN
3,2021-01-01,2022-07-28 04:30:00,4,night,AVDA. PABLO NERUDA / CALL. LEONESES,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Pasajero,De 10 a 14 años,Hombre,14.0,Sin asistencia sanitaria,"444976,463","4470508,259",N,NaN
4,2021-01-01,2022-07-28 04:30:00,4,night,AVDA. PABLO NERUDA / CALL. LEONESES,57,13.0,PUENTE DE VALLECAS,Colisión fronto-lateral,Despejado,Turismo,Pasajero,De 35 a 39 años,Mujer,14.0,Sin asistencia sanitaria,"444976,463","4470508,259",N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41778,2021-11-12,2022-07-28 14:00:00,4,low,CALL. LA ESCALA / CALL. PERELADA,23,13.0,PUENTE DE VALLECAS,Choque contra obstáculo fijo,NaN,Otros vehículos con motor,Conductor,Desconocido,Desconocido,NaN,NaN,"445394,234","4471410,963",N,NaN
41779,2021-12-31,2022-07-28 19:10:00,4,high,AVDA. ILUSTRACION / AVDA. BETANZOS,0,8.0,FUENCARRAL-EL PARDO,Alcance,Despejado,Turismo,Conductor,De 45 a 49 años,Mujer,7.0,Asistencia sanitaria sólo en el lugar del acci...,"439535,639","4481279,053",N,NaN
41780,2021-12-31,2022-07-28 19:10:00,4,high,AVDA. ILUSTRACION / AVDA. BETANZOS,0,8.0,FUENCARRAL-EL PARDO,Alcance,Despejado,Turismo,Conductor,De 45 a 49 años,Mujer,14.0,Sin asistencia sanitaria,"439535,639","4481279,053",N,NaN
41781,2021-12-31,2022-07-28 17:00:00,4,low,PASEO. VAGUADA / PLAZA. JUAN PABLO FORNER,9,8.0,FUENCARRAL-EL PARDO,Colisión fronto-lateral,Despejado,Turismo,Conductor,De 40 a 44 años,Mujer,NaN,NaN,"439875,174","4481348,547",N,NaN
41782,2021-12-31,2022-07-28 17:00:00,4,low,PASEO. VAGUADA / PLAZA. JUAN PABLO FORNER,9,8.0,FUENCARRAL-EL PARDO,Colisión fronto-lateral,Despejado,Turismo,Conductor,De 60 a 64 años,Mujer,NaN,NaN,"439875,174","4481348,547",N,NaN

## Downloading API json climate data from AEMET

#### We are going to check that the column "estado_meteorológico" that comes in the raw data, match the API information downloaded from the official weather agency in Spain AEMET

In [23]:
import requests
import json

api_key = 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJlbXNnOTRAZ21haWwuY29tIiwianRpIjoiMTY1N2FlOWItNTExYy00Y2FjLTljMGMtNzljZTg2YjE3MjZiIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE1ODM0OTQzNDEsInVzZXJJZCI6IjE2NTdhZTliLTUxMWMtNGNhYy05YzBjLTc5Y2U4NmIxNzI2YiIsInJvbGUiOiIifQ.TjMpJc94DbOJSZPu9nsYio3eTShJr4YNPecsLyxpIGY'

startdate= '2020-01-01T00:00:00UTC'
finishdate= '2022-01-01T00:00:00UTC'
station= '3195' #retiro station

url= 'https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/'+startdate+'/fechafin/'+finishdate+'/estacion/'+station
response = requests.get(url, params={'api_key': api_key})
response.status_code

200

In [24]:
resp_dict = json.loads(response.text)
resp_dict

{'descripcion': 'exito',
 'estado': 200,
 'datos': 'https://opendata.aemet.es/opendata/sh/8de288c9',
 'metadatos': 'https://opendata.aemet.es/opendata/sh/b3aa9d28'}

In [25]:
response_data = requests.get(resp_dict.get('datos'), params={'api_key': api_key})
dict_retiro_station = json.loads(response_data.text)
weather_api = pd.DataFrame(dict_retiro_station)
weather_api

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,presMax,horaPresMax,presMin,horaPresMin
0,2020-01-01,3195,"MADRID, RETIRO",MADRID,667,"6,6","0,0","1,9",07:50,"11,2",15:30,05,"0,3","3,3",00:50,"954,2",11,"952,0",Varias
1,2020-01-02,3195,"MADRID, RETIRO",MADRID,667,"6,0","0,0","1,6",07:00,"10,5",15:00,99,"0,6","3,3",Varias,"953,7",10,"951,0",15
2,2020-01-03,3195,"MADRID, RETIRO",MADRID,667,"3,8","0,0","1,5",06:00,"6,0",14:40,99,"0,6","5,0",Varias,"954,8",Varias,"952,2",Varias
3,2020-01-04,3195,"MADRID, RETIRO",MADRID,667,"7,0","0,0","2,8",00:20,"11,2",14:45,04,"2,5","9,4",12:00,"955,9",10,"952,5",16
4,2020-01-05,3195,"MADRID, RETIRO",MADRID,667,"6,2","0,0","1,5",08:30,"10,9",13:50,05,"0,8","5,3",00:00,"953,3",00,"949,2",16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,2021-12-28,3195,"MADRID, RETIRO",MADRID,667,"11,4","0,0","8,3",23:20,"14,6",13:50,NaN,NaN,NaN,NaN,"946,7",Varias,"941,2",00
728,2021-12-29,3195,"MADRID, RETIRO",MADRID,667,"9,8","0,0","7,0",03:10,"12,6",15:00,NaN,NaN,NaN,NaN,"949,0",10,"946,6",00
729,2021-12-30,3195,"MADRID, RETIRO",MADRID,667,"9,8","0,0","4,7",08:10,"14,9",15:40,NaN,NaN,NaN,NaN,"948,2",23,"945,6",15
730,2021-12-31,3195,"MADRID, RETIRO",MADRID,667,"10,2","0,0","5,0",07:30,"15,5",15:00,NaN,NaN,NaN,NaN,"951,1",10,"947,6",01
731,2022-01-01,3195,"MADRID, RETIRO",MADRID,667,"11,1","0,0","5,5",07:10,"16,7",14:50,NaN,NaN,NaN,NaN,"951,5",11,"949,3",14

In [26]:
#The only column which we are going to pay attention to is 'prec' (rainfall). wi will consider wet to be more than 0.1 mm.
weather_api['prec']=weather_api['prec'].str.replace(',','.')

In [31]:
# We set the column 'fecha' as index in order to do the merge later
weather_api=weather_api.set_index('fecha')

In [33]:
prec=weather_api['prec']
prec

fecha
2020-01-01    0.0
2020-01-02    0.0
2020-01-03    0.0
2020-01-04    0.0
2020-01-05    0.0
             ...
2021-12-28    0.0
2021-12-29    0.0
2021-12-30    0.0
2021-12-31    0.0
2022-01-01    0.0
Name: prec, Length: 732, dtype: object

In [ ]:
df.merge()